navbar {
    background-color: transparent;
    background: none;
}

body{
    background-image:url(https://cdn.mmohuts.com/wp-content/uploads/2015/03/Ragnarok-Online-ReStart-Profile-Banner.png);
    
}

